### Sqlite3

Yükləmək üçün

In [1]:
# Unix/Linux


<code>

sudo apt-get install sqlite3 
sudo pip3 install sqlite3

</code>

In [2]:
#Windows


<code>
pip3 install sqlite3 
</code>

Əgər sisteminizə anaconda platformasını yükləmisinizsə.<code>pip3</code> yazmağa ehtiyyac yoxdur.Sadəcə olaraq <code>pip install sqlite3</code> yazmağınız kifayətdir.

In [3]:
import sqlite3 # kitabxananı çağırırıq

Kitabxana,baza yaratmağımız üçün əlverişlidir.Bundan savayı mysql pymongo kimi digər kitabxanalardan da istifadə edə bilərsiniz.Qeyd edimki hər birinin kökü sql sorğu prinspinə dayanır.Və kodlarımızı yazaq.

Bazanı hazırlamaq üçün iki üsul var.Birincisi ram üzərindən digəri həqiqi disk üzərində.

In [4]:
import sqlite3

db = sqlite3.connect('database.db')

Yuxarıdakı üsulla disk üzərində baza hazırlayacaqsınız.Hal-hazırda mən qovluq yolunu göstərmədiyim üçün birbaşa olduğum cari qovluqda hazırlandı

In [5]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is A4BB-1CFC

 Directory of C:\Users\garay\OneDrive\Documents\GitHub\Python3-AZ\Python-Sqlite

04/01/2020  09:17 AM    <DIR>          .
04/01/2020  09:17 AM    <DIR>          ..
03/31/2020  10:49 AM    <DIR>          .ipynb_checkpoints
04/01/2020  09:17 AM    <DIR>          DATA
04/01/2020  09:17 AM                 0 database.db
04/01/2020  09:16 AM            22,341 PythonSqlite.ipynb
               2 File(s)         22,341 bytes
               4 Dir(s)  317,554,704,384 bytes free

İkinci metod isə ram üzərində

In [6]:
import sqlite3

db = sqlite3.connect(':memory:')

Yuxarıdakı nümunədə isə baza adı yazmağa belə ehtiyyac olmadı.Biz amma bu bəhsdə,ilkin metodu istifadə edəcəyik

In [7]:
import sqlite3

db = sqlite3.connect('DATA/database.db')

SQL sorğu əmrlərini sqlite tərəfindən hazırlanır.Və çalışdırıla bilməsi üçün execute əmrinə ehtiyyacımız var.

In [8]:
import sqlite3
db = sqlite3.connect('DATA/database.db')
cursor = db.cursor()

#### cədvəl hazırlama

<code>SQL : CREATE TABLE person ('name','surname','email','password')</code>

In [9]:
import sqlite3
db = sqlite3.connect('DATA/database.db')
cursor = db.cursor()
cursor.execute("CREATE TABLE person ('name','surname','email','password','salary','employment')")

Əgər təkrar çalışdırsanız yuxarıdakı xətanı alacaqsınız.kodlarımıza bəzi əlavələr edək

Çünki əvvəl biz cədvəli qeyd etdik çalışdırdıq,təkrar çalışdırdıqda bu tip xəta aldıq.Bunu qabaqlamaq üçün

In [10]:
import sqlite3

try:
    db = sqlite3.connect('DATA/database.db')
    cursor = db.cursor()
    cursor.execute("CREATE TABLE person ('name','surname','email','password','salary','employment')")
    print('Database created')
except sqlite3.OperationalError:
    db = sqlite3.connect('DATA/database.db')
    cursor = db.cursor()
    cursor.execute("CREATE TABLE IF NOT EXISTS person ('name','surname','email','password','salary','employment')")
    print('Ok')

Ok

In [11]:
#Məlumatların əlavə edilməsi

In [12]:
import sqlite3

try:
    db = sqlite3.connect('DATA/database.db')
    cursor = db.cursor()
    cursor.execute("CREATE TABLE person ('name','surname','email','password','salary','employment')")
    print('Database created')
except sqlite3.OperationalError:
    db = sqlite3.connect('DATA/database.db')
    cursor = db.cursor()
    cursor.execute("CREATE TABLE IF NOT EXISTS person ('name','surname','email','password','salary','employment')")
    print('Ok')
    cursor.execute("INSERT INTO person VALUES ('Rəşad','Qarayev','garayevrashad@hotmail.com','123456',2000,'Python C/C++')")
    cursor.execute("INSERT INTO person VALUES ('Eldar','Əliyev','example@hotmail.com','asdfg',2000,'Back-end Developer')")
    cursor.execute("INSERT INTO person VALUES ('Vüsalə','Əliyeva','valiyeva@hotmail.com','v1999',1800,'Managment')")
    cursor.execute("INSERT INTO person VALUES ('Arzu','Əliyeva','arzu@hotmail.com','v1987',4000,'Team Leader')")
    db.commit() #məlumatları bazaya əlavə edirik
    
    print('Məlumatlar əlavə olundu')

Ok
Məlumatlar əlavə olundu

In [13]:
#Bazadakı məlumatları oxuyaq

In [14]:
import sqlite3

try:
    db = sqlite3.connect('DATA/database.db')
    cursor = db.cursor()
    cursor.execute("SELECT name,surname FROM person WHERE surname='Əliyeva'")
    data = cursor.fetchall()
    print(data)
except sqlite3.OperationalError:
    print('Error')

[('Vüsalə', 'Əliyeva'), ('Arzu', 'Əliyeva')]

In [15]:
import sqlite3

try:
    db = sqlite3.connect('DATA/database.db')
    cursor = db.cursor()
    cursor.execute("SELECT name,surname FROM person WHERE surname='Əliyeva'")
    data = cursor.fetchall()
    for i in data:
        print('Ad :',i[0])
        print('Soyad :',i[1])
except sqlite3.OperationalError:
    print('Error')

Ad : Vüsalə
Soyad : Əliyeva
Ad : Arzu
Soyad : Əliyeva

Bazada Əliyeva soyadı olan şəxsləri sorğu ilə əldə etdik

In [16]:
#Update - məlumatları yeniləmək

Şirkətimizə yeni işçi gəldi və biz bu işçini işdən çıxan işçi ilə əvəzləməliyik.Yenidən bazaya əlavə etmək yerinə,çıxarılan işçinin məlumatlarını yeni işçinin məlumatları ilə əvəzləyək

In [17]:

import sqlite3

try:
    db = sqlite3.connect('DATA/database.db')
    cursor = db.cursor()
    cursor.execute("UPDATE person SET name='Kəmalə',surname='Məlikova',email='km11@gmail.com',password='km2000' WHERE name='Arzu'")
    
    cursor.execute("SELECT name,surname,email,password FROM person ")
    db.commit()
    data = cursor.fetchall()
    for i in data:
        print(i)
    db.close()
except sqlite3.OperationalError:
    print('Error')

('Rəşad', 'Qarayev', 'garayevrashad@hotmail.com', '123456')
('Eldar', 'Əliyev', 'example@hotmail.com', 'asdfg')
('Vüsalə', 'Əliyeva', 'valiyeva@hotmail.com', 'v1999')
('Kəmalə', 'Məlikova', 'km11@gmail.com', 'km2000')

In [18]:
#Yeni sütun əlavə edək

In [19]:
import sqlite3

try:
    db = sqlite3.connect('DATA/database.db')
    cursor = db.cursor()
    cursor.execute("SELECT * from person")
    data = cursor.fetchall()
    
    
    for i in data:
        print(i)
    db.close()
except sqlite3.OperationalError:
    print('Error')

('Rəşad', 'Qarayev', 'garayevrashad@hotmail.com', '123456', 2000, 'Python C/C++')
('Eldar', 'Əliyev', 'example@hotmail.com', 'asdfg', 2000, 'Back-end Developer')
('Vüsalə', 'Əliyeva', 'valiyeva@hotmail.com', 'v1999', 1800, 'Managment')
('Kəmalə', 'Məlikova', 'km11@gmail.com', 'km2000', 4000, 'Team Leader')

In [20]:
#ORDER BY verilənləri,sorğu arqumentinə uyğun sıralayır.Məsələn,id lərə adlara görə,maaş az-çox məsələsinə görə

In [21]:
import sqlite3

try:
    db = sqlite3.connect('DATA/database.db')
    cursor = db.cursor()
    cursor.execute("SELECT DISTINCT * FROM person ORDER BY name DESC") #adlara uyğun - əlifba sırası ilə
    data = cursor.fetchall()
    for i in data:
        print(i)
    db.close()
except sqlite3.OperationalError:
    print('Error')

('Vüsalə', 'Əliyeva', 'valiyeva@hotmail.com', 'v1999', 1800, 'Managment')
('Rəşad', 'Qarayev', 'garayevrashad@hotmail.com', '123456', 2000, 'Python C/C++')
('Kəmalə', 'Məlikova', 'km11@gmail.com', 'km2000', 4000, 'Team Leader')
('Eldar', 'Əliyev', 'example@hotmail.com', 'asdfg', 2000, 'Back-end Developer')

In [22]:
import sqlite3

try:
    db = sqlite3.connect('DATA/database.db')
    cursor = db.cursor()
    cursor.execute("SELECT DISTINCT * FROM person ORDER BY salary DESC") #maaşa görə çoxdan-aza doğru
    data = cursor.fetchall()
    for i in data:
        print(i)
    db.close()
except sqlite3.OperationalError:
    print('Error')

('Kəmalə', 'Məlikova', 'km11@gmail.com', 'km2000', 4000, 'Team Leader')
('Rəşad', 'Qarayev', 'garayevrashad@hotmail.com', '123456', 2000, 'Python C/C++')
('Eldar', 'Əliyev', 'example@hotmail.com', 'asdfg', 2000, 'Back-end Developer')
('Vüsalə', 'Əliyeva', 'valiyeva@hotmail.com', 'v1999', 1800, 'Managment')

In [23]:
#maaşı 2000 dən aşağı olanları ekrana çap edək

In [24]:
import sqlite3

try:
    db = sqlite3.connect('DATA/database.db')
    cursor = db.cursor()
    cursor.execute("SELECT DISTINCT * FROM person WHERE salary < 2000") #maaşa görə çoxdan-aza doğru
    data = cursor.fetchall()
    for i in data:
        print(i)
        
    db.close()
except sqlite3.OperationalError:
    print('Error')

('Vüsalə', 'Əliyeva', 'valiyeva@hotmail.com', 'v1999', 1800, 'Managment')

In [25]:
#Aşağı maaşlı işçinin maaşını artıraq

In [26]:

import sqlite3

try:
    db = sqlite3.connect('DATA/database.db')
    cursor = db.cursor()
    cursor.execute("UPDATE person SET salary=2400 WHERE name='Vüsalə'")
    cursor.execute("SELECT * from person")
    data = cursor.fetchall()
    for i in data:
        print(i)
    db.commit()
    db.close()
except sqlite3.OperationalError:
    print('Error')

('Rəşad', 'Qarayev', 'garayevrashad@hotmail.com', '123456', 2000, 'Python C/C++')
('Eldar', 'Əliyev', 'example@hotmail.com', 'asdfg', 2000, 'Back-end Developer')
('Vüsalə', 'Əliyeva', 'valiyeva@hotmail.com', 'v1999', 2400, 'Managment')
('Kəmalə', 'Məlikova', 'km11@gmail.com', 'km2000', 4000, 'Team Leader')

In [27]:
#Şəxsi bazadan kənarlaşdıraq

In [28]:
#DELETE FROM

In [29]:

import sqlite3

try:
    db = sqlite3.connect('DATA/database.db')
    cursor = db.cursor()
    cursor.execute("DELETE FROM person WHERE employment == 'Back-end Developer'")
    cursor.execute("SELECT * from person")
    data = cursor.fetchall()
    for i in data:
        print(i)
    db.commit()
    db.close()
except sqlite3.OperationalError:
    print('Error')

('Rəşad', 'Qarayev', 'garayevrashad@hotmail.com', '123456', 2000, 'Python C/C++')
('Vüsalə', 'Əliyeva', 'valiyeva@hotmail.com', 'v1999', 2400, 'Managment')
('Kəmalə', 'Məlikova', 'km11@gmail.com', 'km2000', 4000, 'Team Leader')

Istənilən məlumata görə şəxsi bazadan kənarlaşdırmaq mümkündür.<code>DELETE FROM person WHERE salary == 4000</code> qeyd etsəydik,bu səfər maaşa görə şəxsi kənarlaşdıracaqdıq

In [30]:
#Sum hesabi cəm

Şirkət daxilində işçilərə verilən maaşın ümumi cəmini əldə edə bilərik.

In [35]:
import sqlite3

try:
    db = sqlite3.connect('DATA/database.db')
    cursor = db.cursor()
    cursor.execute("SELECT SUM(salary) FROM person")
    data = cursor.fetchall()
    print(data)
    db.commit()
    db.close()
except sqlite3.OperationalError:
    print('Error')

[(8400,)]

In [36]:
# mean və ya average termini
#İşçilərin ümumi maaşlarının ortaq qiymətini çıxara bilərik.İşçi maaşları toplanır daha sonra işçilərin sayına bölünür

In [39]:
import sqlite3

try:
    db = sqlite3.connect('DATA/database.db')
    cursor = db.cursor()
    cursor.execute("SELECT AVG(salary) FROM person")
    data = cursor.fetchall()
    print(data)
    db.commit()
    db.close()
except sqlite3.OperationalError:
    print('Error')

[(2800.0,)]

In [40]:
# min və max

In [49]:
import sqlite3

try:
    db = sqlite3.connect('DATA/database.db')
    cursor = db.cursor()
    cursor.execute("SELECT max(salary) FROM person")
    maximum = cursor.fetchall()
    print(maximum)
    db.close()
except sqlite3.OperationalError:
    print('Error')

[(4000,)]

In [50]:
import sqlite3

try:
    db = sqlite3.connect('DATA/database.db')
    cursor = db.cursor()
    cursor.execute("SELECT min(salary) FROM person")
    minimum = cursor.fetchall()
    print(minimum)
    db.close()
except sqlite3.OperationalError:
    print('Error')

[(2000,)]

In [51]:
#like

Bəzi vəziyyətlərdə ad soyad kimi elementləri bilmədiyimiz təqdirdə baş hərfi ilə də elementləri əldə etmək kimi vəziyyətlə rastlaşa bilərik

In [56]:
import sqlite3

try:
    db = sqlite3.connect('DATA/database.db')
    cursor = db.cursor()
    cursor.execute("SELECT * FROM person WHERE name LIKE 'R%'")
    data = cursor.fetchall()
    print(data)
    db.close()
except sqlite3.OperationalError:
    print('Error')

[('Rəşad', 'Qarayev', 'garayevrashad@hotmail.com', '123456', 2000, 'Python C/C++')]

In [57]:
#R ilə başlayan elementi sorğuya çəkdik

##### Obyekt Yönümlü proqramlaşdırmadan istifadə edərək proqram hazırlayaq

In [7]:
import sqlite3

class Company():
    def __init__(self):
        self.fullname = None
        self.email = None
        self.mobile = None
        self.salary = None
        self.employment = None
        self.db = sqlite3.connect('database.db')
        self.cursor = self.db.cursor()
        self.cursor.execute("CREATE TABLE IF NOT EXISTS person ('fullname','email','mobile','salary','employment')")
        self.db.commit()
        self.db.close()#Təhlükəsizlik səbəbiylə bazanı bağlamağı unutmuruq
    def add(self):
        while True:
            try:
                self.fullname = input('Ad və Soyad(exam. Rəşad Qarayev):')
                self.email = input('Poçt:')
                self.mobile = input('Əlaqə nömrəsi:')
                self.salary = int(input('Maaş:'))
                self.employment = input('Məşğulluq (for exam: python):')
                self.db = sqlite3.connect('database.db')
                self.cursor = self.db.cursor()
                if self.employment == 'Şirkət rəhbəri':
                    
                    self.cursor.execute("INSERT INTO person VALUES ('{}','{}','{}','{}','Şirkət rəhbəri')".format(self.fullname,self.email,self.mobile,self.salary))
                else:
                    self.cursor.execute("INSERT INTO person VALUES ('{}','{}','{}','{}','{}')".format(self.fullname,self.email,self.mobile,self.salary,self.employment))
                self.db.commit()
                self.db.close()#Təhlükəsizlik səbəbiylə bazanı bağlamağı unutmuruq
                print('Məlumatlar bazaya əlavə olundu')
                break
            except sqlite3.OperationalError:
                print('Error')
            except ValueError:
                print('Şəxs haqqında yalnış məlumat daxil etmisiniz')
    
class Database(Company):
    def __init__(self):
        Company.__init__(self)

    def __str__(self):
        self.db = sqlite3.connect('database.db')
        self.cursor = self.db.cursor()
        self.cursor.execute("SELECT fullname,email,mobile,salary,employment FROM person")
        self.cursor.execute("SELECT DISTINCT * FROM person ORDER BY salary DESC")
        self.data = self.cursor.fetchall()
        for i in self.data:
            
            print(i)
        self.db.close()
    
    def _update(self):
        self.fullname = input('Şəxsin ad və soyadını qeyd edin:')
        self.salary = int(input('Maaşını qeyd edin:'))
        self.db = sqlite3.connect('database.db')
        self.cursor = self.db.cursor()
        self.cursor.execute("UPDATE person SET salary='{}' WHERE fullname='{}'".format(self.salary,self.fullname))
        self.cursor.execute("SELECT DISTINCT * FROM person ORDER BY salary DESC")
        self.db.commit()
        self.db.close()#Təhlükəsizlik səbəbiylə bazanı bağlamağı unutmuruq
        print('{} şəxsin maaşı yeniləndi'.format(self.fullname))
    def _delete(self):
        try:
            self.params = input('Kənarlaşdıracağınız şəxsin poçt ünvanını qeyd edin:')
            self.db = sqlite3.connect('database.db')
            self.cursor = self.db.cursor()
            self.cursor.execute("DELETE FROM person WHERE email == '{}'".format(self.params))
            print('{} şəxs,bazadan kənarlaşdırıldı.'.format(self.params))
            self.cursor.execute("SELECT DISTINCT * FROM person ORDER BY salary DESC")
            self.db.commit()
            self.db.close() #Təhlükəsizlik səbəbiylə bazanı bağlamağı unutmuruq
        except sqlite3.OperationalError:
            print('Ops')
class Manager(Company):
    def __init__(self):
        Company.__init__(self)
        
    def __str__(self):
        self.db = sqlite3.connect('database.db')
        self.cursor = self.db.cursor()
        self.cursor.execute("SELECT fullname,email,mobile,salary,employment FROM person WHERE employment='Şirkət rəhbəri'")
        
        self.data = self.cursor.fetchall()
        for i in self.data:
            print(i)
        self.db.close()

In [8]:
database = Database()

In [9]:
manager = Manager()

In [10]:
print(dir(database))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_delete', '_update', 'add', 'cursor', 'db', 'email', 'employment', 'fullname', 'mobile', 'salary']

In [11]:
database.__str__()

In [12]:
database.add()

Ad və Soyad(exam. Rəşad Qarayev):Rəşad Qarayev
Poçt:garayevrashad@hotmail.com
Əlaqə nömrəsi:+994500
Maaş:4000
Məşğulluq (for exam: python):Python Developer
Məlumatlar bazaya əlavə olundu

In [13]:
database.__str__()

('Rəşad Qarayev', 'garayevrashad@hotmail.com', '+994500', '4000', 'Python Developer')

In [14]:
database.add()

Ad və Soyad(exam. Rəşad Qarayev):Nigar Mahmudova
Poçt:ng@gmail.com
Əlaqə nömrəsi:+994600
Maaş:3800
Məşğulluq (for exam: python):Back-end Developer
Məlumatlar bazaya əlavə olundu

In [15]:
database.__str__()

('Rəşad Qarayev', 'garayevrashad@hotmail.com', '+994500', '4000', 'Python Developer')
('Nigar Mahmudova', 'ng@gmail.com', '+994600', '3800', 'Back-end Developer')

In [16]:
database.add()
database.__str__()

Ad və Soyad(exam. Rəşad Qarayev):Niyazi Əliyev
Poçt:na@hotmail.com
Əlaqə nömrəsi:+9945512
Maaş:3300
Məşğulluq (for exam: python):Qrafik Dizayner
Məlumatlar bazaya əlavə olundu
('Rəşad Qarayev', 'garayevrashad@hotmail.com', '+994500', '4000', 'Python Developer')
('Nigar Mahmudova', 'ng@gmail.com', '+994600', '3800', 'Back-end Developer')
('Niyazi Əliyev', 'na@hotmail.com', '+9945512', '3300', 'Qrafik Dizayner')

In [17]:
manager

In [18]:
manager.__str__()

In [19]:
manager.add()

Ad və Soyad(exam. Rəşad Qarayev):Vahid Ələkbərov
Poçt:vahid@gmail.com
Əlaqə nömrəsi:+9947023
Maaş:7800
Məşğulluq (for exam: python):Şirkət rəhbəri
Məlumatlar bazaya əlavə olundu

In [20]:
manager.__str__()

('Vahid Ələkbərov', 'vahid@gmail.com', '+9947023', '7800', 'Şirkət rəhbəri')

In [21]:
database.__str__()

('Vahid Ələkbərov', 'vahid@gmail.com', '+9947023', '7800', 'Şirkət rəhbəri')
('Rəşad Qarayev', 'garayevrashad@hotmail.com', '+994500', '4000', 'Python Developer')
('Nigar Mahmudova', 'ng@gmail.com', '+994600', '3800', 'Back-end Developer')
('Niyazi Əliyev', 'na@hotmail.com', '+9945512', '3300', 'Qrafik Dizayner')